*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

page2/.idea/codeStyles/Project.xml
page2/.idea/gradle.xml
page2/.idea/misc.xml
page2/.idea/vcs.xml
